          ___________
         [___________]
         /           \
        /~~^~^~^~^~^~^\
       |===============|
       | P I C K L E S |
       | ,-.   __      |
       | \ ,'-'. )     |
       |  '._'_;'      |
       ;===============;
        \             /
         `"""""``""""`

##### hiera-puppet w/vagrant example
FQDN: <%= scope.lookupvar('::fqdn') %>

