[mysqld]

auto_increment_increment = 2
auto_increment_offset = <%= scope.lookupvar('nodenumber') %>
report_host = '<%= scope.lookupvar('::hostname') %>'
server_id = <%= scope.lookupvar('nodenumber') %>
